__pycache__
*.pyc
.ipynb_checkpoints
data/
data2/
data2
analysis/test/testdata.npy
*__pycache__
*.DS_Store
runs
distance_prediction
features
wandb
images
graphs
data
*obj_names_features.txt
*place_names_features.txt
*.npy
*.yml
*checkpoints
*.ckpt
*logs
rgb.mp4
depth.mp4
Hierarchical-Localization
outputs/
.vscode/
dbg-*
dbg/
log/
habitat-sim/
env/src/
demo_e200.ckpt
ViT-B-32.pt
networks
*.orig
*~
test*
results*
intra-*
analysis-intra/
models/
models
vlmaps/utils/methods
*.png
*.jpg
*.svg
*.prof
query_distribution
temp/
download.sh
*.data
cache/
*.db
.env
training/
*.csv
