img/
embeddings/
demo_e200.ckpt
ViT-B-32.pt
**/__pycache__/
.vscode/
*.npy
temp/
screenshots/
coco_imgs/
*.zip
results/
logs/
openai_key.sh
run.out
check*
prof/
*.prof
*.png
*.jpg
*.egg*
*~
.coverage
weights/
parameters/
old-parameters/
*.db
*.sqlite3
temp
build/
*.orig
.env
log/
weights
