ftfy
regex
tqdm
clip @ git+https://github.com/openai/CLIP.git
opencv-python-headless
Pillow
pandas
h5py
matplotlib
scipy
timm
pytorch-lightning
transformers
seaborn
scikit-learn
pycocotools
black
tzlocal
openai
datasets
pandasgui
shapely
optuna
gdown
tensorflow==2.17.1
wonderwords
tensorboardX
ninja